.SearchBar_Container {
  margin: auto;
  display: flex;
  flex-grow: 2;
  height: 2rem;
  justify-content: center;
}

.SearchBar_Container2 {
  margin: auto;
}

.search_div {
  display: flex;
  margin: auto;
  position: relative;
  z-index: 1;
}

.iBox_SearchBar {
  background-color: var(--background-color);
  width: 30rem;
  border: 1px solid var(--background-color);
  color: var(--text-color);
  font-size: large;
  padding: 0.2rem;
  height: 2rem;
  padding-left: 2rem;
}

.searchIcon_SearchBar {
  cursor: pointer;
  padding: 0.75rem;
  width: 2rem;
  border-radius: 0.1rem;
  background-color: var(--searchIcon_SearchBar-bg-color);
  color: var(--text-color);
}

.searchIcon_SearchBar:hover {
  background-color: var(--background-color);
}

.micIcon_SearchBar {
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--micIcon_SearchBar-bg-color);
}

.vid_bell_Navbar,
.micIcon_SearchBar {
  color: var(--text-color);
  margin: auto 0.7rem;
}
