.Container_SearchList {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 90.75%;
  position: absolute;
  top: 2.7rem;
  height: fit-content;
  z-index: 1;
}

.titleItem {
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
}

.titleItem:hover {
  background-color: var(--titleItem-bg-color-hover);
}
