.Channel_logo_App {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  background-color: var(--text-color);
  margin: auto;
  display: flex;
  cursor: pointer;
}

.firstChar_logo_App {
  margin: auto;
  color: var(--background-color);
  font-weight: bolder;
}

.container_Pages_App {
  display: flex;
  background-color: var(--container_Pages_App-bg-color);
}

.container2_Pages_App {
  width: calc(100vw - 5rem);
  height: calc(100vh - 3.65rem);
  border-top: 2px solid var(--container2_Pages_App-border-top);
  overflow-y: auto;
}

.video_box_app {
  width: 21rem;
  height: 17rem;
  margin-bottom: 1rem;
  border: 2px solid transparent;
}

video {
  background-color: var(--video-bg-color);
}

.dot {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background-color: var(--text-color);
  margin: auto 0.5rem;
}
