.container_leftSidebar {
  background-color: var(--container_leftSidebar-bg-color);
  width: 5.5rem;
  height: calc(100vh - 3.55rem);
  box-sizing: border-box;
  overflow-y: auto;
}

.icon_sidebar_div {
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.icon_sidebar {
  margin: auto;
}

.text_sidebar_icon {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.2rem;
}

.icon_sidebar_div:hover,
.icon_sidebar_div.active {
  color: var(--aliceblue);
  background-color: var(--icon_sidebar_div-bg-color);
}

.container_DrawerLeftSidebar {
  position: absolute;
  display: flex;
  width: 100vw;
  z-index: 1;
}

.container2_DrawerLeftSidebar {
  height: calc(100vh - 3.6rem);
  background-color: var(--container2_DrawerLeftSidebar-bg-color);
  overflow-y: auto;
  width: 15rem;
}

.Drawer_leftsidebar,
.libraryBtn_DrawerleftSidebar {
  padding-top: 0.5rem;
  border-bottom: 2px solid var(--Drawer_leftsidebar-libraryBtn_DrawerleftSidebar-border-bottom);
}

.icon_sidebar_div p {
  display: flex;
  margin: 0;
}

.subscriptions_lsdbar {
  color: var(--text-color);
}

.subscriptions_lsdbar h3 {
  text-decoration: underline;
  margin: 20px 10px;
}

.channel_lsdbar p {
  border: 1px solid;
  background-color: var(--channel_lsdbar-p-bg-color);
  padding: 0.5rem;
  border-radius: 100%;
  margin: 1rem;
}

.channel_lsdbar div {
  margin: auto;
  width: 60%;
}

.channel_lsdbar {
  display: flex;
  cursor: pointer;
}

.channel_lsdbar:hover {
  color: var(--channel_lsdbar-color-hover);
}

.container3_DrawerLeftSidebar {
  flex-grow: 1;
  background-color: var(--container3_DrawerLeftSidebar-bg-color);
}
