.comments_sub_form_comments {
  display: flex;
  width: 70%;
}

.comment_ibox {
  width: 80%;
  padding: 0.5%;
  padding-left: 2%;
  background-color: transparent;
  border: 0;
  color: var(--comment_ibox-color);
  border-bottom: 2px solid var(--comment_ibox-border-bottom);
}

.comment_add_btn_comments {
  cursor: pointer;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--aliceblue);
  background-color: transparent;
  color: var(--aliceblue);
  font-size: large;
  width: 20%;
}

.comment_add_btn_comments:hover {
  border: 2px solid var(--comment_add_btn_comments-border-hover);
  border-bottom: 2px solid var(--comment_add_btn_comments-border-bottom-hover);
  background-color: var(--comment_add_btn_comments-bg-color-hover);
}

.display_comment_container {
  padding: 1rem;
}

/* Display comments */

.comment_body {
  color: var(--comment_body-color);
  margin: 0;
  margin-top: 0.5rem;
}

.usercommented {
  color: var(--usercommented-color);
  margin: 0;
}

.EditDel_DisplayComment {
  padding: 0.2rem;
  margin: 0;
  margin-bottom: 0.8rem;
  color: var(--EditDel_DisplayComment-color);
  cursor: pointer;
}

.EditDel_DisplayComment i {
  padding: 0.2rem;
}
