.navigation_Home {
  color: var(--text-color);
  background-color: var(--background-color);
  position: sticky;
  display: flex;
  overflow-x: auto;
  top: 0;
  border-bottom: 2px solid var(--navigation_Home-border-bottom);
}

.btn_nav_home {
  background-color: var(--background-color);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 45px;
  cursor: pointer;
}

.btn_nav_home:hover {
  background-color: var(--bg-color-btn_nav_home-hover);
}
