.container3_channel {
  border-bottom: 3px solid var(--container3_channel-border-bottom);
  padding: 0.5rem;
  color: var(--container3_channel-color);
  position: relative;
}

.channel_logo_channel {
  border: 10px solid var(--channel_logo_channel-border);
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  margin: 0 auto;
  background-color: var(--channel_logo_channel-bg-color);
}

.channel_logo_channel b {
  margin: auto;
  font-size: 3rem;
}

.description_channel {
  text-align: center;
}

.description_channel b {
  font-size: 4rem;
}

.description_channel p {
  font-size: large;
}

.editbtn_channel,
.uploadbtn_channel {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  background-color: var(--editbtn_channel-uploadbtn_channel-bg-color);
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  color: var(--background-color);
  transition: all 1s;
  cursor: pointer;
}

.uploadbtn_channel {
  top: 4rem;
}

.editbtn_channel:hover,
.uploadbtn_channel:hover {
  border: 2px solid;
  color: var(--editbtn_channel-uploadbtn_channel-color-hover);
}
